body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0;
}


.tilt {
  transform-style: preserve-3d;
  transition: transform 0.2s;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items:  center;
  margin: 40px;
  border: solid 50px rgb(255, 255, 255);
  border-radius: 80px;
}

.cadre {
  width: 300px;
  height: 400px;
  transform: translateZ(-100px);
  background-position: 50% 75%;
  background-size: cover;
  scale: 1.1;
  border-radius: 30px;
}

.tilt:hover{
  width: 330px;
  height: 440px;  
}


.tilt:hover{
 .cadre{
  transform: translateZ(-100px);
  scale: 1.3;
} 
} 
.tilt:hover{
 .deux{
  transform: translateZ(20px);
  scale: 1.05;
} 
} 

.tilt:hover{
  .inner-element {
    transform: translateZ(60px);
    scale: 1.05;
  }
}



#Agador .cadre{
  background-image: url(./Agador_chien_insta_BG.png);
}

#Agador .inner-element{
  background-image: url(./Agador_chien_insta.png);
}

#Astrid .cadre{
  background-image: url(./Astrid_opossum_insta_BG.png);
}

#Astrid .inner-element{
  background-image: url(./Astrid_opossum_insta_1.png);
}

#Astrid .deux{
  background-image: url(./Astrid_opossum_insta_2.png);
}






#Annaolala .cadre{
  background-image: url(./Annaolala_chat_insta_BG.png);
}

#Annaolala .inner-element{
  background-image: url(./Annaolala_chat_insta.png);
}

#bandi .cadre{
  background-image: url(./bandit_chien_insta_BG.png);
}

#bandi .inner-element{
  background-image: url(./bandit_chien_insta_1.png);
}

#bandi .deux{
  background-image: url(./bandit_chien_insta_2.png);
}




.deux{
  position: absolute;
  transform-style: preserve-3d;
  background-size: cover;
  width: 300px;
  height: 400px;
  transition: 0.2s;
}

.inner-element{
   background-size: cover;
   width: 300px;
   height: 400px;
   transition: 0.2s;
}


